# ÏΩîÎ°úÎÇò Ï†ÑÌõÑ ÎùºÏù¥ÌîÑÏä§ÌÉÄÏùº Í≤åÏûÑ ÌîåÎ†àÏù¥ ÏñëÏÉÅ Î∂ÑÏÑù

#### ÏÇ¨Ïö©Ìïú Îç∞Ïù¥ÌÑ∞ ÏÖã
* [Steam Monthly Player Data](https://www.kaggle.com/connorwynkoop/steam-monthly-player-data)
* [ÏΩîÎ°úÎÇò 19 Î∞úÏÉù ÌòÑÌô©](https://kosis.kr/statHtml/statHtml.do?mode=noLogo&orgId=101&tblId=DT_COVID19_004)

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
# sd is SteamData
sd_df = pd.read_csv("AllSteamData.csv", encoding="utf-8-sig")
display(sd_df.head(5))

             Name         Month  Avg. Players     Gain   % Gain  Peak Players
0  Counter-Strike  Last 30 Days       8488.74     27.6    0.33%         15065
1  Counter-Strike        Sep-21       8461.12  -390.07   -4.41%         14559
2  Counter-Strike        Aug-21       8851.19  -286.57   -3.14%         14064
3  Counter-Strike        Jul-21       9137.76  -359.69   -3.79%         14972
4  Counter-Strike        Jun-21       9497.45  -1243.5  -11.58%         16391

In [3]:
# Í≤åÏûÑ Î™©Î°ù Ï°∞Ìöå
# gl is GameList
gl_df = sd_df.groupby("Name").count().reset_index()[["Name", "Month"]]
gl_df.columns = ["Name", "Number of Data"]
display(gl_df.shape)
display(gl_df)

(38164, 2)

                                               Name  Number of Data
0      ! That Bastard Is Trying To Steal Our Gold !              53
1                                !"Time Lock VR-1"!              37
2                            !"We Are The Dwarves"!              69
3                       !4RC4N01D! 2: Retro Edition              20
4       !4RC4N01D! 3: Cold Space 5000 Achievements!              20
...                                             ...             ...
38159                                 Ïù¥ AIÎ•º Î≥µÍµ¨Ìï¥Ï£ºÏÑ∏Ïöî.               3
38160                                            Ïù¥Îùº               2
38161                               Ïû≠Í≥º ÏΩ©ÎÇòÎ¨¥: Ïà®Í≤®ÏßÑ Ïù¥ÏïºÍ∏∞              12
38162                                             üåà               1
38163                  üêõ Bug Academy - Artistic Kit               1

[38164 rows x 2 columns]

### ÏµúÏÜå Ï∂©Î∂Ñ Í∞úÏõîÏàò Í≥ÑÏÇ∞
ÏúÑÏùò Î™©Î°ù Ï§ë Îç∞Ïù¥ÌÑ∞ ÌëúÎ≥∏Ïù¥ Ï†ÅÏñ¥ Î∂ÑÏÑùÏóê Î∂ÄÏ†ÅÌï©Ìïú(ÏΩîÎ°úÎÇò Ï†Ñ/ÌõÑÎ°ú ÎÇòÎàå Ïàò ÏóÜÎäî) Í≤åÏûÑ Ï†úÍ±∞

In [4]:
first_outbreak = datetime(2019, 12, 1)
now = datetime.now()
num_month = (now.year - first_outbreak.year) * 12 + (now.month - first_outbreak.month)
min_month = num_month * 2 # ÌòÑÏû¨ÏôÄ ÏΩîÎ°úÎÇò 19 ÏµúÏ¥à Î∞úÍ≤¨ ÏÇ¨Ïù¥Ïùò Í∞úÏõîÏàòÏùò ÎëêÎ∞∞Ïóê Îã¨ÌïòÎäî Í∞úÏõîÏàòÎ•º Ï†ÅÏ†ï ÌëúÎ≥∏ ÏàòÎ°ú Í∑úÏ†ï
                          # Ï¶â, Ìï¥Îãπ Ïà´ÏûêÎ≥¥Îã§ Ï†ÅÏùÄ ÌñâÏùÑ Í∞ñÎäî Í≤åÏûÑÏùÄ ÏΩîÎ°úÎÇò Ï†ÑÌõÑÏóê Îî∞Î•∏ Ï∂îÏù¥Î•º Î∂ÑÏÑùÌïòÍ∏∞Ïóê Î∂àÏ∂©Î∂ÑÌïú Îç∞Ïù¥ÌÑ∞Î°ú ÌåêÎã®

print(f"ÏµúÏÜå Ï∂©Î∂Ñ Í∞úÏõîÏàò: {min_month}")

gl_df = gl_df[gl_df["Number of Data"] >= min_month].reset_index(drop=True) # ÏµúÏÜå Ï∂©Î∂Ñ Í∞úÏõîÏàòÎ•º ÎßåÏ°±ÌïòÎäî Í≤åÏûÑ Î™©Î°ù
display(gl_df)
gl_df.to_csv("gamelist.csv", index=False, encoding="utf-8-sig")

ÏµúÏÜå Ï∂©Î∂Ñ Í∞úÏõîÏàò: 46

                                              Name  Number of Data
0     ! That Bastard Is Trying To Steal Our Gold !              53
1                           !"We Are The Dwarves"!              69
2           "Glow Ball" - The billiard puzzle game              51
3                                  #killallzombies              67
4                                    #monstercakes              55
...                                            ...             ...
7705           Êù±ÊñπÊÜë‰æùËèØ„ÄÄÔΩû Antinomy of Common Flowers.              47
7706       Ê∞∏ÈÅ†Ê∂àÂ§±ÁöÑÂπªÊÉ≥ÈÑâ ÔΩû The Disappearing of Gensokyo              46
7707                   Á•ûÊòéÁöÑ‰∏ÄÂ§©‰∏ñÁïå-God's One Day World              48
7708                       Á•ûËàûÂπªÊÉ≥ Faith of Danschant              47
7709                      È∏øÊ∫êÊàòÁ∫™ - Tales of Hongyuan              51

[7710 rows x 2 columns]

### Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨

In [5]:
# Ï†ÑÏ≤òÎ¶¨-1 : Î∂àÌïÑÏöîÌïú Ìñâ(Last 30 Days) Ï†úÍ±∞
sd_df.drop(sd_df[sd_df["Month"] == "Last 30 Days"].index, inplace=True)

In [6]:
# Ï†ÑÏ≤òÎ¶¨-2 : Í∞úÏõîÏàòÍ∞Ä Ï∂©Ï°±ÎêòÏßÄ ÏïäÏùÄ Î∂àÏ∂©Î∂Ñ Îç∞Ïù¥ÌÑ∞ Ï†úÍ±∞
sd_df = sd_df[sd_df["Name"].isin(list(gl_df["Name"]))]

In [7]:
# Ï†ÑÏ≤òÎ¶¨-3 : Month Ïó¥Ïùò Í∞í ÌòïÌÉú Î≥ÄÍ≤Ω ('Sep-21' -> '2021-10')
sd_df["Month"] = sd_df[["Month"]].apply(
    lambda x: datetime.strptime(x["Month"], "%b-%y").strftime("%Y-%m"), axis=1
)

In [8]:
# Ï†ÑÏ≤òÎ¶¨-4 : ÎØ∏ÏÇ¨Ïö© Ïó¥ Ï†úÍ±∞(Gain, % Gain, Peak Plaers)
sd_df.drop(["Gain", "% Gain", "Peak Players"], axis=1, inplace=True)

In [9]:
# Ï†ÑÏ≤òÎ¶¨-5 : Avg. Players Ïó¥ Ï†ïÍ∑úÌôî
# mp is Max Players
mp_df = sd_df.groupby("Name").max().reset_index()[["Name", "Avg. Players"]]
mp_df.columns = ["Name", "Max Players"]

# Max Player Ìñâ Ï∂îÍ∞Ä
sd_df = pd.merge(sd_df, mp_df, on="Name", how="inner")

# ÏµúÎåÄ ÌîåÎ†àÏù¥Ïñ¥ ÏàòÎ•º 100ÏúºÎ°ú ÎíÄÏùÑ ÎïåÏùò ÏàòÏπòÎ•º Í≥ÑÏÇ∞ÌïòÏó¨ Avg. Players Ïó¥ Ï†ïÍ∑úÌôî
sd_df["Avg. Players"] = sd_df[["Avg. Players", "Max Players"]].apply(
    lambda x: x["Avg. Players"] / x["Max Players"] * 100 if x["Max Players"] != 0 else np.nan, axis=1
)

# Max Player Ìñâ Ï†úÍ±∞(ÎØ∏ÏÇ¨Ïö©)
sd_df.drop(["Max Players"], axis=1, inplace=True)

display(sd_df)

                     Name    Month  Avg. Players
0          Counter-Strike  2021-09     24.303458
1          Counter-Strike  2021-08     25.423883
2          Counter-Strike  2021-07     26.247017
3          Counter-Strike  2021-06     27.280180
4          Counter-Strike  2021-05     30.851970
...                   ...      ...           ...
569069  Conqueror's Blade  2019-06     76.570748
569070  Conqueror's Blade  2019-05      1.679975
569071  Conqueror's Blade  2019-04      2.679419
569072  Conqueror's Blade  2019-03      0.221169
569073  Conqueror's Blade  2019-02      2.344950

[569074 rows x 3 columns]

### ÏÉùÌôú ÏãúÎÆ¨Î†àÏù¥ÏÖò Í≤åÏûÑ Î∂ÑÎ•ò
gamelist.csvÏùò Î™©Î°ùÏóêÏÑú ÏïΩÏãùÏúºÎ°ú ÏûÑÏùò ÏÑ†Ï†ï

In [10]:
sim_life = ["VRChat", "Terraria", "The Sims(TM) 3", "The Sims(TM) Medieval", "Don't Starve", "Don't Starve Together", "Don't Starve Mod Tools", "Stardew Valley"]

# Simulation Life
sl_df = sd_df[sd_df["Name"].isin(list(sim_life)) == True]
display(sl_df)

                  Name    Month  Avg. Players
105297  The Sims(TM) 3  2021-09     33.541931
105298  The Sims(TM) 3  2021-08     36.316152
105299  The Sims(TM) 3  2021-07     34.992746
105300  The Sims(TM) 3  2021-06     36.077563
105301  The Sims(TM) 3  2021-05     38.062592
...                ...      ...           ...
447421          VRChat  2017-05      0.129269
447422          VRChat  2017-04      0.136118
447423          VRChat  2017-03      0.162045
447424          VRChat  2017-02      0.282753
447425          VRChat  2017-01      0.006971

[742 rows x 3 columns]

In [11]:
# Not Simulation Life
nsl_df = sd_df[sd_df["Name"].isin(list(sim_life)) == False]
display(nsl_df)

                     Name    Month  Avg. Players
0          Counter-Strike  2021-09     24.303458
1          Counter-Strike  2021-08     25.423883
2          Counter-Strike  2021-07     26.247017
3          Counter-Strike  2021-06     27.280180
4          Counter-Strike  2021-05     30.851970
...                   ...      ...           ...
569069  Conqueror's Blade  2019-06     76.570748
569070  Conqueror's Blade  2019-05      1.679975
569071  Conqueror's Blade  2019-04      2.679419
569072  Conqueror's Blade  2019-03      0.221169
569073  Conqueror's Blade  2019-02      2.344950

[568332 rows x 3 columns]

Month Ïó¥ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú ÌèâÍ∑† Avg. Players Í∞í ÏÇ∞Ï∂ú

In [12]:
sl_mean_df = sl_df.groupby("Month").mean()
sl_mean_df.reset_index()

       Month  Avg. Players
0    2012-07     36.151272
1    2012-08     22.277351
2    2012-09     17.186643
3    2012-10     14.647293
4    2012-11     17.568967
..       ...           ...
106  2021-05     49.483311
107  2021-06     56.192439
108  2021-07     50.361262
109  2021-08     53.277539
110  2021-09     51.064685

[111 rows x 2 columns]

In [13]:
nsl_mean_df = nsl_df.groupby("Month").mean()
nsl_mean_df.reset_index()

       Month  Avg. Players
0    2012-07     51.068003
1    2012-08     36.973945
2    2012-09     31.458780
3    2012-10     28.943006
4    2012-11     30.329966
..       ...           ...
106  2021-05     24.925632
107  2021-06     24.836513
108  2021-07     26.361746
109  2021-08     25.116995
110  2021-09     25.128208

[111 rows x 2 columns]

# ÏΩîÎ°úÎÇò Ï∂îÏù¥
Îëê Îç∞Ïù¥ÌÑ∞ ÏÖãÏùò ÏõêÎ≥∏ Îç∞Ïù¥ÌÑ∞Ïùò ÌñâÏùò ÌòïÌÉúÍ∞Ä ÏùºÏπòÌïòÏßÄ ÏïäÏúºÎØÄÎ°ú, Ï†ÑÏ≤òÎ¶¨Î•º Í±∞Ïπú ÌõÑ Î≥ëÌï©Ìï¥ÏïºÌï®

In [14]:
covid2020_df = pd.read_csv("101_DT_COVID19_004_20211001150023.csv", encoding="euc-kr")
covid2021_df = pd.read_csv("101_DT_COVID19_004_20211001150440.csv", encoding="euc-kr")

display(covid2020_df)
display(covid2021_df)

,Íµ≠Í∞ÄÎ≥Ñ,Ìï≠Î™©,Îã®ÏúÑ,2020. 05. 01,2020. 05. 02,2020. 05. 03,2020. 05. 04,2020. 05. 05,2020. 05. 06,2020. 05. 07,...,2020. 12. 22,2020. 12. 23,2020. 12. 24,2020. 12. 25,2020. 12. 26,2020. 12. 27,2020. 12. 28,2020. 12. 29,2020. 12. 30,2020. 12. 31
0,ÌïúÍµ≠,ÌôïÏßÑÏûêÏàò,Î™Ö,10774.0,10780.0,10793.0,10801.0,10793.0,10806.0,10810.0,...,51460.0,52550,53533,54770,55902.0,56872.0,57680.0,58725.0,59773,60740.0
1,ÌïúÍµ≠,ÏÇ¨ÎßùÏûêÏàò,Î™Ö,248.0,250.0,250.0,252.0,250.0,255.0,256.0,...,722.0,739,756,773,793.0,808.0,819.0,859.0,879,900.0
2,ÏïÑÌîÑÍ∞ÄÎãàÏä§ÌÉÑ,ÌôïÏßÑÏûêÏàò,Î™Ö,2171.0,2171.0,2469.0,2469.0,2469.0,3224.0,3392.0,...,50678.0,50888,51070,51357,51595.0,51764.0,51848.0,52007.0,52147,52330.0
3,ÏïÑÌîÑÍ∞ÄÎãàÏä§ÌÉÑ,ÏÇ¨ÎßùÏûêÏàò,Î™Ö,64.0,64.0,72.0,72.0,72.0,95.0,104.0,...,2074.0,2089,2105,2126,2135.0,2148.0,2158.0,2170.0,2182,2189.0
4,Î∞îÎ†àÏù∏,ÌôïÏßÑÏûêÏàò,Î™Ö,3037.0,3169.0,3243.0,3356.0,3464.0,3679.0,3842.0,...,90282.0,90450,90634,90817,91070.0,91304.0,91518.0,91733.0,91935,92169.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,ÏÜîÎ°úÎ™¨Ï†úÎèÑ,ÏÇ¨ÎßùÏûêÏàò,Î™Ö,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,NaN,NaN,NaN,NaN,0,NaN
374,Î∞îÎàÑÏïÑÌà¨,ÌôïÏßÑÏûêÏàò,Î™Ö,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,1,1,NaN,NaN,NaN,NaN,1,NaN
375,Î∞îÎàÑÏïÑÌà¨,ÏÇ¨ÎßùÏûêÏàò,Î™Ö,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,0,NaN,NaN,NaN,NaN,0,NaN
376,Í∏∞ÌÉÄÏßÄÏó≠ ÏòÅÌÜ†,ÌôïÏßÑÏûêÏàò,Î™Ö,5773.0,5991.0,6036.0,6284.0,6573.0,6666.0,6819.0,...,NaN,294612,297686,300748,NaN,NaN,NaN,NaN,313861,NaN
377,Í∏∞ÌÉÄÏßÄÏó≠ ÏòÅÌÜ†,ÏÇ¨ÎßùÏûêÏàò,Î™Ö,193.0,193.0,195.0,199.0,246.0,203.0,210.0,...,NaN,3494,3536,3586,NaN,NaN,NaN,NaN,3762,NaN

,Íµ≠Í∞ÄÎ≥Ñ,Ìï≠Î™©,Îã®ÏúÑ,2021. 01. 01,2021. 01. 02,2021. 01. 03,2021. 01. 04,2021. 01. 05,2021. 01. 06,2021. 01. 07,...,2021. 09. 21,2021. 09. 22,2021. 09. 23,2021. 09. 24,2021. 09. 25,2021. 09. 28,2021. 09. 29,2021. 09. 30,2021. 10. 01,Unnamed: 221
0,ÌïúÍµ≠,ÌôïÏßÑÏûêÏàò,Î™Ö,61769.0,62593.0,63244.0,64264.0,64979.0,65818.0,66686.0,...,289263.0,290983.0,292699.0,295132.0,298402.0,305842.0,308725.0,311286.0,313773.0,NaN
1,ÌïúÍµ≠,ÏÇ¨ÎßùÏûêÏàò,Î™Ö,917.0,942.0,962.0,981.0,1007.0,1027.0,1046.0,...,2413.0,2419.0,2427.0,2434.0,2441.0,2464.0,2474.0,2481.0,2497.0,NaN
2,ÏïÑÌîÑÍ∞ÄÎãàÏä§ÌÉÑ,ÌôïÏßÑÏûêÏàò,Î™Ö,52330.0,52513.0,52586.0,52709.0,52909.0,53011.0,53105.0,...,154585.0,154712.0,154757.0,154800.0,154960.0,155072.0,155093.0,155128.0,155174.0,NaN
3,ÏïÑÌîÑÍ∞ÄÎãàÏä§ÌÉÑ,ÏÇ¨ÎßùÏûêÏàò,Î™Ö,2189.0,2201.0,2211.0,2221.0,2230.0,2237.0,2244.0,...,7199.0,7199.0,7199.0,7199.0,7199.0,7200.0,7201.0,7204.0,7204.0,NaN
4,Î∞îÎ†àÏù∏,ÌôïÏßÑÏûêÏàò,Î™Ö,92425.0,92675.0,92913.0,NaN,93478.0,93766.0,93995.0,...,274264.0,274383.0,274452.0,274524.0,274524.0,274814.0,274877.0,274925.0,274981.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,ÏÜîÎ°úÎ™¨Ï†úÎèÑ,ÏÇ¨ÎßùÏûêÏàò,Î™Ö,0.0,0.0,NaN,NaN,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
378,Î∞îÎàÑÏïÑÌà¨,ÌôïÏßÑÏûêÏàò,Î™Ö,1.0,1.0,NaN,NaN,1.0,NaN,NaN,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,NaN
379,Î∞îÎàÑÏïÑÌà¨,ÏÇ¨ÎßùÏûêÏàò,Î™Ö,0.0,0.0,NaN,NaN,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
380,Í∏∞ÌÉÄÏßÄÏó≠ ÏòÅÌÜ†,ÌôïÏßÑÏûêÏàò,Î™Ö,319585.0,321938.0,NaN,NaN,328058.0,NaN,NaN,...,941587.0,946639.0,950342.0,953733.0,956554.0,965894.0,969168.0,973105.0,975797.0,NaN
381,Í∏∞ÌÉÄÏßÄÏó≠ ÏòÅÌÜ†,ÏÇ¨ÎßùÏûêÏàò,Î™Ö,3832.0,3883.0,NaN,NaN,4009.0,NaN,NaN,...,10995.0,11065.0,11122.0,11180.0,11233.0,11056.0,11424.0,11582.0,11523.0,NaN

In [15]:
# Íµ≠Í∞ÄÎ•º Í≥†Ïú† ÌÇ§ Í∞íÏúºÎ°ú ÎßåÎì§Í∏∞ ÏúÑÌï¥ ÏÇ¨ÎßùÏûêÏàò Ìñâ Ï†úÍ±∞
covid2020_df.drop(covid2020_df[covid2020_df["Ìï≠Î™©"] == "ÏÇ¨ÎßùÏûêÏàò"].index, inplace=True)
covid2021_df.drop(covid2021_df[covid2021_df["Ìï≠Î™©"] == "ÏÇ¨ÎßùÏûêÏàò"].index, inplace=True)

# Ìï≠Î™© & Îã®ÏúÑ Ïó¥ Ï†úÍ±∞
covid2020_df.drop(["Ìï≠Î™©", "Îã®ÏúÑ"], axis=1, inplace=True)
covid2021_df.drop(["Ìï≠Î™©", "Îã®ÏúÑ"], axis=1, inplace=True)

# Î≥ëÌï©
covid_df = pd.merge(covid2020_df, covid2021_df, on="Íµ≠Í∞ÄÎ≥Ñ", how="inner")
display(covid_df)

,Íµ≠Í∞ÄÎ≥Ñ,2020. 05. 01,2020. 05. 02,2020. 05. 03,2020. 05. 04,2020. 05. 05,2020. 05. 06,2020. 05. 07,2020. 05. 08,2020. 05. 09,...,2021. 09. 21,2021. 09. 22,2021. 09. 23,2021. 09. 24,2021. 09. 25,2021. 09. 28,2021. 09. 29,2021. 09. 30,2021. 10. 01,Unnamed: 221
0,ÌïúÍµ≠,10774.0,10780.0,10793.0,10801.0,10793.0,10806.0,10810.0,10822.0,10840.0,...,289263.0,290983.0,292699.0,295132.0,298402.0,305842.0,308725.0,311286.0,313773.0,NaN
1,ÏïÑÌîÑÍ∞ÄÎãàÏä§ÌÉÑ,2171.0,2171.0,2469.0,2469.0,2469.0,3224.0,3392.0,3563.0,3563.0,...,154585.0,154712.0,154757.0,154800.0,154960.0,155072.0,155093.0,155128.0,155174.0,NaN
2,Î∞îÎ†àÏù∏,3037.0,3169.0,3243.0,3356.0,3464.0,3679.0,3842.0,4131.0,4404.0,...,274264.0,274383.0,274452.0,274524.0,274524.0,274814.0,274877.0,274925.0,274981.0,NaN
3,Î∞©Í∏ÄÎùºÎç∞Ïãú,7103.0,7667.0,8238.0,8790.0,9455.0,10143.0,10929.0,11719.0,12425.0,...,1544238.0,1545800.0,1547176.0,1548320.0,1549553.0,1552563.0,1552563.0,1553873.0,1555911.0,NaN
4,Î∂ÄÌÉÑ,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,...,2597.0,2599.0,2599.0,2599.0,2599.0,2599.0,2599.0,2600.0,2601.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,Îâ¥ÏßàÎûúÎìú,1129.0,1132.0,1134.0,1136.0,1136.0,1137.0,1138.0,1139.0,1141.0,...,3725.0,3739.0,3763.0,3779.0,3788.0,3838.0,3848.0,3892.0,3917.0,NaN
185,ÌååÌë∏ÏïÑÎâ¥Í∏∞Îãà,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,18933.0,18968.0,19069.0,19182.0,19278.0,19523.0,19703.0,19703.0,20221.0,NaN
186,ÏÜîÎ°úÎ™¨Ï†úÎèÑ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0,NaN
187,Î∞îÎàÑÏïÑÌà¨,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,NaN
188,Í∏∞ÌÉÄÏßÄÏó≠ ÏòÅÌÜ†,5773.0,5991.0,6036.0,6284.0,6573.0,6666.0,6819.0,6878.0,7062.0,...,941587.0,946639.0,950342.0,953733.0,956554.0,965894.0,969168.0,973105.0,975797.0,NaN

In [16]:
# Ìñâ¬∑Ïó¥ Í∞Ñ Ï†ÑÌôò
covid_df = covid_df.transpose()

# Íµ≠Í∞Ä Ïù¥Î¶ÑÏùÑ ÌñâÏúºÎ°ú ÏÑ§Ï†ï
covid_df = covid_df.rename(columns=covid_df.iloc[0])
covid_df.drop(covid_df.index[0], inplace=True)
display(covid_df)

,ÌïúÍµ≠,ÏïÑÌîÑÍ∞ÄÎãàÏä§ÌÉÑ,Î∞îÎ†àÏù∏,Î∞©Í∏ÄÎùºÎç∞Ïãú,Î∂ÄÌÉÑ,Î∏åÎ£®ÎÇòÏù¥,Ï∫ÑÎ≥¥ÎîîÏïÑ,Ï§ëÍµ≠,ÎèôÌã∞Î™®Î•¥,ÌôçÏΩ©,...,ÏóêÏä§ÏôÄÌã∞Îãà,ÎÇ®ÏàòÎã®,Ìò∏Ï£º,ÌîºÏßÄ,ÎßàÏÖúÏ†úÎèÑ,Îâ¥ÏßàÎûúÎìú,ÌååÌë∏ÏïÑÎâ¥Í∏∞Îãà,ÏÜîÎ°úÎ™¨Ï†úÎèÑ,Î∞îÎàÑÏïÑÌà¨,Í∏∞ÌÉÄÏßÄÏó≠ ÏòÅÌÜ†
2020. 05. 01,10774.0,2171.0,3037.0,7103.0,7.0,138.0,122.0,82874.0,24.0,1037.0,...,91.0,34.0,6746.0,18.0,NaN,1129.0,8.0,NaN,NaN,5773.0
2020. 05. 02,10780.0,2171.0,3169.0,7667.0,7.0,138.0,122.0,82875.0,24.0,1039.0,...,100.0,35.0,6762.0,18.0,NaN,1132.0,8.0,NaN,NaN,5991.0
2020. 05. 03,10793.0,2469.0,3243.0,8238.0,7.0,138.0,122.0,82877.0,24.0,1039.0,...,106.0,45.0,6767.0,18.0,NaN,1134.0,8.0,NaN,NaN,6036.0
2020. 05. 04,10801.0,2469.0,3356.0,8790.0,7.0,138.0,122.0,82880.0,24.0,1039.0,...,108.0,45.0,6783.0,18.0,NaN,1136.0,8.0,NaN,NaN,6284.0
2020. 05. 05,10793.0,2469.0,3464.0,9455.0,7.0,138.0,122.0,82881.0,24.0,1040.0,...,112.0,46.0,6801.0,18.0,NaN,1136.0,8.0,NaN,NaN,6573.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021. 09. 28,305842.0,155072.0,274814.0,1552563.0,2599.0,6540.0,109087.0,96081.0,19398.0,12196.0,...,45770.0,11948.0,97540.0,50755.0,4.0,3838.0,19523.0,20.0,3.0,965894.0
2021. 09. 29,308725.0,155093.0,274877.0,1552563.0,2599.0,6700.0,109926.0,96106.0,19445.0,12209.0,...,45770.0,11948.0,99032.0,50807.0,4.0,3848.0,19703.0,20.0,3.0,969168.0
2021. 09. 30,311286.0,155128.0,274925.0,1553873.0,2600.0,6813.0,110792.0,96128.0,19445.0,12214.0,...,45870.0,11981.0,100912.0,50872.0,4.0,3892.0,19703.0,20.0,3.0,973105.0
2021. 10. 01,313773.0,155174.0,274981.0,1555911.0,2601.0,6950.0,111673.0,96162.0,19498.0,12217.0,...,45904.0,11995.0,102723.0,50953.0,4.0,3917.0,20221.0,20.0,3.0,975797.0
Unnamed: 221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Í≤∞Ï∏°Ïπò Ï†úÍ±∞(Unnamed: 21)
covid_df.drop(covid_df.index[-1], inplace=True)
display(covid_df)

,ÌïúÍµ≠,ÏïÑÌîÑÍ∞ÄÎãàÏä§ÌÉÑ,Î∞îÎ†àÏù∏,Î∞©Í∏ÄÎùºÎç∞Ïãú,Î∂ÄÌÉÑ,Î∏åÎ£®ÎÇòÏù¥,Ï∫ÑÎ≥¥ÎîîÏïÑ,Ï§ëÍµ≠,ÎèôÌã∞Î™®Î•¥,ÌôçÏΩ©,...,ÏóêÏä§ÏôÄÌã∞Îãà,ÎÇ®ÏàòÎã®,Ìò∏Ï£º,ÌîºÏßÄ,ÎßàÏÖúÏ†úÎèÑ,Îâ¥ÏßàÎûúÎìú,ÌååÌë∏ÏïÑÎâ¥Í∏∞Îãà,ÏÜîÎ°úÎ™¨Ï†úÎèÑ,Î∞îÎàÑÏïÑÌà¨,Í∏∞ÌÉÄÏßÄÏó≠ ÏòÅÌÜ†
2020. 05. 01,10774.0,2171.0,3037.0,7103.0,7.0,138.0,122.0,82874.0,24.0,1037.0,...,91.0,34.0,6746.0,18.0,NaN,1129.0,8.0,NaN,NaN,5773.0
2020. 05. 02,10780.0,2171.0,3169.0,7667.0,7.0,138.0,122.0,82875.0,24.0,1039.0,...,100.0,35.0,6762.0,18.0,NaN,1132.0,8.0,NaN,NaN,5991.0
2020. 05. 03,10793.0,2469.0,3243.0,8238.0,7.0,138.0,122.0,82877.0,24.0,1039.0,...,106.0,45.0,6767.0,18.0,NaN,1134.0,8.0,NaN,NaN,6036.0
2020. 05. 04,10801.0,2469.0,3356.0,8790.0,7.0,138.0,122.0,82880.0,24.0,1039.0,...,108.0,45.0,6783.0,18.0,NaN,1136.0,8.0,NaN,NaN,6284.0
2020. 05. 05,10793.0,2469.0,3464.0,9455.0,7.0,138.0,122.0,82881.0,24.0,1040.0,...,112.0,46.0,6801.0,18.0,NaN,1136.0,8.0,NaN,NaN,6573.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021. 09. 25,298402.0,154960.0,274524.0,1549553.0,2599.0,5697.0,106619.0,95986.0,19308.0,12176.0,...,45633.0,11899.0,92179.0,50447.0,4.0,3788.0,19278.0,20.0,3.0,956554.0
2021. 09. 28,305842.0,155072.0,274814.0,1552563.0,2599.0,6540.0,109087.0,96081.0,19398.0,12196.0,...,45770.0,11948.0,97540.0,50755.0,4.0,3838.0,19523.0,20.0,3.0,965894.0
2021. 09. 29,308725.0,155093.0,274877.0,1552563.0,2599.0,6700.0,109926.0,96106.0,19445.0,12209.0,...,45770.0,11948.0,99032.0,50807.0,4.0,3848.0,19703.0,20.0,3.0,969168.0
2021. 09. 30,311286.0,155128.0,274925.0,1553873.0,2600.0,6813.0,110792.0,96128.0,19445.0,12214.0,...,45870.0,11981.0,100912.0,50872.0,4.0,3892.0,19703.0,20.0,3.0,973105.0
2021. 10. 01,313773.0,155174.0,274981.0,1555911.0,2601.0,6950.0,111673.0,96162.0,19498.0,12217.0,...,45904.0,11995.0,102723.0,50953.0,4.0,3917.0,20221.0,20.0,3.0,975797.0

In [18]:
# ÏùºÎ≥Ñ ÌôïÏßÑÏûêÏàò Ìï©Í≥ÑÎ°ú Ïó¥ ÌÜµÌï©
covid_df = covid_df.fillna(0)
covid_df["Total"] = covid_df.sum(1)
covid_df = covid_df[["Total"]]
display(covid_df)

                    Total
2020. 05. 01    3204353.0
2020. 05. 02    3292996.0
2020. 05. 03    3374678.0
2020. 05. 04    3455718.0
2020. 05. 05    3523684.0
...                   ...
2021. 09. 25  230419936.0
2021. 09. 28  231703606.0
2021. 09. 29  232076416.0
2021. 09. 30  232637324.0
2021. 10. 01  233136752.0

[463 rows x 1 columns]

In [19]:
# ÏõîÎ≥Ñ ÌôïÏßÑÏûêÏàò ÌèâÍ∑†ÏúºÎ°ú Ìñâ ÌÜµÌï©
covid_df["Month"] = covid_df.index
covid_df["Month"] = covid_df[["Month"]].apply(
    lambda x: "-".join(x["Month"].split(". ")[0:2]), axis=1
)

covid_df = covid_df.groupby("Month").mean().reset_index()
display(covid_df)

      Month         Total
0   2020-05  4.519882e+06
1   2020-06  7.997920e+06
2   2020-07  1.356829e+07
3   2020-08  2.127057e+07
4   2020-09  2.611423e+07
5   2020-10  2.644152e+07
6   2020-11  2.844507e+07
7   2020-12  4.526535e+07
8   2021-01  5.756747e+07
9   2021-02  4.033034e+07
10  2021-03  5.088139e+07
11  2021-04  4.119561e+07
12  2021-05  1.002138e+08
13  2021-06  1.093683e+08
14  2021-07  1.143139e+08
15  2021-08  1.518054e+08
16  2021-09  2.250617e+08
17  2021-10  2.331368e+08